<h1>Reactive Form Code</h1>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
</head>
<body>
    <div class="register-container">
        <h2>Register Form</h2>
        <form [formGroup]="user" (ngSubmit)="registeruser()">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" >
                <span *ngIf="user.controls['username'].invalid && user.controls['username'].touched">Username must be 3 character</span>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" >
                <span *ngIf="user.controls['password'].invalid && user.controls['password'].touched">Password must be 8 character</span>
            </div>
            <div class="input-group">
                <label for="age">Age</label>
                <input type="number" id="age" formControlName="age">
                <span *ngIf="user.controls['age'].invalid && user.controls['age'].touched">Between 18 to 50</span>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" >
                <span *ngIf="user.controls['email'].invalid && user.controls['email'].touched">E-mail must be Vaild</span>
            </div>
            <button type="submit" [disabled]="user.invalid" class="register-button">Register</button>
        </form>
    </div>
</body>
</html>
